<div class="profile-card">
  <div class="avatar-name">
    <img alt="avatar" class="profile-card__avatar" src="/assets/imgs/Screenshot_1.png">

    <div class="profile-card__name">
      <strong class="h6">Райан Гослинг</strong>
      <span>rayn</span>
    </div>
  </div>
  <div class="profile-card__description">
    Список навыков, которые мы обсудили выше, основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом стиле - этот раздел можно добавить в сопроводительное письмо.
  </div>
  <div class="profile-card__tags">
  <div class="skill-tag">Angular</div>
  <div class="skill-tag">HTML</div>
  <div class="skill-tag">CSS</div>
  <div class="skill-tag">REST</div>
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
